@using ServiceStack.MiniProfiler;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 百世大学</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="light-border">
    <div class="navbar navbar-inverse navbar-fixed-top light-border">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">
                    <img src="/img/logo.jpg" alt="logo" />
                </a>
                <div class="navbar-collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <ul class="breadcrumb">
            <li>您现在的位置：百世物流企业大学平台<span class="divider"></span></li>
            <li>首页</li>
        </ul>
    </div>
    <div class="page-container top-pad">
        <div class="page-sidebar navbar-collapse">
            <ul class="page-sidebar-menu">
                <li class="start">
                    <a href="index.html">
                        <i class="icon-home"></i>
                        <span class="title">首页</span>
                        <span class="selected"></span>
                        <i class="icon-chevron-left icon-white pull-right"></i>
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:;">
                        <i class="icon-pencil"></i>
                        <span class="title">我的考试</span>
                        <i class="icon-chevron-down icon-white pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">我的任务考试</a>
                        </li>
                        <li>
                            <a href="#">我的推荐考试</a>
                        </li>
                        <li>
                            <a href="#">成绩查询</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-file"></i>
                        <span class="title">我的学习</span>
                        <i class="icon-chevron-left icon-white pull-right"></i>
                    </a>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-user"></i>
                        <span class="title">我的信息</span>
                        <i class="icon-chevron-left icon-white pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">我的任务考试</a>
                        </li>
                        <li>
                            <a href="#">我的推荐考试</a>
                        </li>
                        <li>
                            <a href="#">成绩查询</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="javascript:;">
                        <i class="icon-screenshot"></i>
                        <span class="title">我的网点</span>
                        <i class="icon-chevron-left icon-white pull-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @ServiceStack.MiniProfiler.Profiler.RenderIncludes()
</body>
</html>
