@using ServiceStack.MiniProfiler;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 百世大学</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="light-border">
    <div class="navbar navbar-inverse navbar-fixed-top light-border">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">
                    <img src="/img/logo.jpg" alt="logo" />
                </a>
                <div class="navbar-collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <ul class="breadcrumb">
            <li>您现在的位置：/</li>
            <li><a href="/Home/Index">首页</a> /</li>
            @if (!string.IsNullOrEmpty((string)ViewBag.ShowName.ControllerName))
            {

                <li>@Html.ActionLink((string)ViewBag.ShowName.ControllerShowName, (string)ViewBag.ShowName.ActionName, (string)ViewBag.ShowName.ControllerName) /</li>
            }
            @if (!string.IsNullOrEmpty((string)ViewBag.ShowName.ActionShowName))
            {
                <li>@Html.ActionLink((string)ViewBag.ShowName.ActionShowName, (string)ViewBag.ShowName.ActionName, (string)ViewBag.ShowName.ControllerName)</li>
            }
        </ul>



    </div>
    <div class="page-container top-pad">
        <div class="page-sidebar navbar-collapse">
            @Html.Partial("_LeftMenu");
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @ServiceStack.MiniProfiler.Profiler.RenderIncludes()
</body>
</html>
