@using ELearning.ViewModels;

@if (Request.IsAuthenticated)
{
    <ul class="page-sidebar-menu">
        @foreach (SideMenu sideMenu in ViewBag.SideMenus)
        {
            <li class="@(sideMenu.IsActive?"active":"")">
                <a href="@sideMenu.Url">
                    <i class="@sideMenu.IconClass"></i>
                    <span class="title">@sideMenu.Name</span>
                    @if (sideMenu.ChildMenus.Count > 0)
                    {
                        <i class="icon-chevron-@(sideMenu.IsActive?"down":"left") icon-white pull-right"></i>
                    }
                </a>
                @if (sideMenu.ChildMenus.Count > 0)
                {
                    <ul class="sub-menu">
                        @foreach (SideChildMenu childMenu in sideMenu.ChildMenus)
                        {
                            <li class="@(childMenu.IsActive?"active":"")">
                                <a href="@childMenu.Url">@childMenu.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}