@using ELearning.ViewModels
@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - 百世汇通</title>
    @Styles.Render("~/Login/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login">
    <div class="content">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <form class="form-vertical login-form" action="index.html">
                <div class="control-group span3">
                    <label class="control-label visible-ie8 visible-ie9">用户名</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-user"></i>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap placeholder-no-fix", @placeholder = " 用户名" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="control-group span3">
                    <label class="control-label visible-ie8 visible-ie9">密码</label>
                    <div class="controls">
                        <div class="input-icon left">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix", @placeholder = " 密码" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group span1" style="margin-left:-40px;">
                    <button type="submit" class="btn red pull-right">
                        登录
                    </button>
                </div>
                <div class="control-group span1" style="margin-left:10px; line-height:35px;">
                    @Html.ActionLink("忘记密码？", "ForgotPassword")
                </div>
            </form>
        }
    </div>
    <div class="copyright">
        <p>
            版权所有：CopyRight@2014 百世物流企业大学
        </p>
        <ul class="unstyled">
            <li><a href="#">常见问题</a></li>
            <li><a href="#">在线帮助</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
    </div>
    <p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>


